input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@font-face {
    font-family: Kanit;
    src: url(../fonts/Kanit.ttf);
}

* {
    font-family: Kanit, sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
}

button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

html,
body {
    background-color: rgb(250, 249, 250);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
}

.connect-wallet {
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: #00AEEF;
    color: white;
}

.connect-wallet:focus {
    outline: none;
}

nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand img {
    width: 45px;
}

.navbar-brand h2 {
    color: #5f5f5f;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
}

.foot-brand h2 {
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    text-
}

.foot-brand img {
    width: 45px;
}

.foot-brand {
    display: flex;
    align-items: center;
}

.panpryzx {
    border-bottom: 1px solid rgb(231, 227, 235);
    background-color: white;
}

.bounty {
    background: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%);
}

.bounty-wrap {
    padding: 32px 10px;
}

.sy-pol {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(118, 69, 217);
    margin-bottom: 24px;
}

.stake-ea {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(40, 13, 95);
}

.primary {
    padding-top: 32px;
    padding-bottom: 32px;
}

.table-row {
    background-color: transparent;
    display: flex;
    cursor: pointer;
}

#pools-table>div {
    border-bottom: 2px solid rgb(233, 234, 235);
}

#pools-table>div:last-child {
    border: none;
    border-radius: 0 24px 24px 0;
}

#pools-table>div:last-child .table-content {
    border-radius: 0 0 24px 24px;
}

.to-top {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.totop-but {
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: #00AEEF;
    box-shadow: none;
}

.svg-top {
    align-self: center;
    fill: #00AEEF;
    flex-shrink: 0;
}

.table-cell {
    flex: 1 0 auto;
    display: flex;
    padding: 24px 8px;
}

.cell-one,
.cell-six {
    align-items: center;
}

.cell-two {
    flex-direction: column;
}

.cell-img {
    max-height: 40px;
    max-width: 40px;
    position: relative;
    width: 100%;
    margin-right: 8px;
}

.cell-icon {
    position: absolute;
    width: 92%;
    inset: 0px auto auto 0px;
    z-index: 5;
}

.sub-icon {
    position: absolute;
    width: 50%;
    inset: auto 0px 0px auto;
    z-index: 6;
}

.cell-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 40px;
}

.pri-text {
    color: rgb(40, 13, 95);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

.sub-text {
    color: rgb(122, 110, 170);
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
}

.cell-img:after {
    content: "";
    clear: both;
    padding-top: 100%;
    display: block;
}

.primary {
    border-radius: 24px;
    background-color: rgb(231, 227, 235);
    padding: 1px 1px 3px;
    margin-top: 60px;
    margin-bottom: 35px;
}

#pools-table {
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
}

.table-row .table-cell:first-child {
    padding-left: 32px;
}

.table-row:last-child {
    border: none;
}

.earned {
    color: rgb(122, 110, 170);
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: left;
}

.ern-val {
    color: rgb(189, 194, 196);
    font-weight: 600;
    line-height: 1;
    margin-top: 4px;
    font-size: 16px;
}

.usd-cu {
    color: rgb(189, 194, 196);
    font-weight: 400;
    line-height: 1;
    margin-top: 4px;
    font-size: 12px;
}

.apy-text,
.total,
.end-in {
    color: rgb(122, 110, 170);
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 1;
}

.apy-val,
.total-val,
.end-val {
    color: rgb(40, 13, 95);
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    margin-top: 4px;
}

.cell-three,
.cell-four,
.cell-five {
    flex-direction: column;
}

.cell-three {
    flex: 0 0 120px
}

.cell-four,
.cell-five {
    flex: 2 0 100px;
}

.cell-six {
    flex: 0 0 120px;
    padding-right: 32px;
    padding-left: 8px;
    justify-content: flex-end;
}

.show-tog {
    color: #00AEEF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.down-arrow {
    fill: #00AEEF;
}

.table-content {
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    background: rgb(246, 246, 246);
}

.se-tok,
.vie-pro,
.vie-con,
.vie-man {
    display: flex;
    margin-bottom: 8px;
}

.view-wrap {
    padding: 0px;
    flex-basis: 230px;
}

.view-wrap a {
    display: flex;
    align-items: center;
    color: #00AEEF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.view-ar {
    fill: #00AEEF;
    margin-left: 5px;
}

.cell-one {
    flex-basis: 220px;
}

.cell-two {
    flex-basis: 120px;
}

.cell-three {
    flex-basis: 100px;
}

.manu-text {
    display: flex;
    align-items: center;
    border-radius: 16px;
    font-weight: 400;
    height: 28px;
    padding: 0px 8px;
    font-size: 14px;
    color: #00AEEF;
    background: rgb(250, 249, 250);
    border: 2px solid #00AEEF;
}

.ico-ref {
    fill: #00AEEF;
    margin-right: 0.5em;
}

.view-on {
    align-self: center;
    fill: rgb(122, 110, 170);
    flex-shrink: 0;
    margin-left: 4px;
}

.manual-wrap {
    display: flex;
    align-items: center;
}

.container-wrap {
    display: flex;
    flex-grow: 1;
}

.earning-val,
.st-sta {
    padding: 16px;
    border: 2px solid rgb(238, 234, 244);
    border-radius: 16px;
    flex-grow: 1;
    margin-left: 32px;
    margin-right: 0px;
    flex-basis: 0;
}

.earning-val span,
.st-sta span {
    color: rgb(118, 69, 217);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 12px;
}

.col-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-wrap h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(40, 13, 95);
}

.earn-but.enable {
    background-color: #00AEEF;
    color: white;
    cursor: pointer;
}

.earn-but {
    background-color: rgb(233, 234, 235);
    border-color: rgb(233, 234, 235);
    box-shadow: none;
    border: none;
    color: rgb(189, 194, 196);
    cursor: not-allowed;
    border-radius: 16px;
    padding: 0px 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 16px;
    height: 48px
}

.en-wallet.plus {
    width: 48px;
}

.en-wallet.minus {
    width: 48px;
}

.en-wallet:focus {
    border: 2px solid #00AEEF;
}

.en-wallet {
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    border: 2px solid #00AEEF;
    box-shadow: none;
    color: #00AEEF;
    width: 100%;
}

.pryzx-stake {
    border: none;
    margin: 0;
}

.con-wallet {
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    height: 48px;
    padding: 0px 24px;
    background-color: #00AEEF;
    color: white;
    width: 100%;
}

.foot-con {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

li {
    list-style: none;
}

.footer-wrap {
    background: rgb(39, 38, 44);
    padding: 35px 40px 15px;
    margin-bottom: 0px;
    margin-top: 35px;
}

.foot-con ul li:first-child {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgb(154, 106, 255);
    font-weight: 600;
    text-transform: uppercase;
}

.foot-con ul li {
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.foot-con ul li a {
    color: rgb(244, 238, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.icon-foot {
    fill: rgb(184, 173, 210);
    margin: 0 15px;
}

.social {
    display: flex;
    justify-content: center;
    margin: 50px 0 25px;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-content {
    width: 345px;
    overflow: hidden;
    background: rgb(16, 9, 225);
    box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(250, 248, 248, 0.05) 0px 1px 1px;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 32px;
    max-height: 100vh;
    z-index: 100;
}

.modal-header {
    display: flex;
    align-items: center;
    background: linear-gradient(111.68deg, #e606e6 0%, rgb(161, 15, 229) 100%);
    border-bottom: 1px solid rgb(231, 227, 235);
    padding: 12px 24px;
}

.modal-header h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(40, 13, 95);
}

.close-mo {
    fill: #00AEEF;
}

.close-modal {
    border: none;
    line-height: 1;
    cursor: pointer;
    outline: none;
    height: 48px;
    background-color: transparent;
    box-shadow: none;
}

.modal-body {
    padding: 24px;
}

.stake-header {
    color: rgb(118, 69, 217);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.stakeValue {
    background-color: rgb(238, 234, 244);
    border: 1px solid rgb(215, 202, 236);
    border-radius: 16px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    padding: 16px;
    color: rgb(122, 110, 170);
    width: 100%;
    text-align: right;
    outline: none;
}

.max-btn {
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    outline: 0px;
    font-size: 12px;
    background-color: rgb(239, 244, 245);
    box-shadow: none;
    color: #00AEEF;
    padding: 4px 16px;
}

.ba-value {
    color: rgb(122, 110, 170);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn-modal {
    cursor: pointer;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    height: 42px;
    padding: 0px 24px;
    color: rgb(155, 6, 6);
    width: 100%;
    align-items: center;
    border-radius: 16px;
    box-shadow: none;
    margin-bottom: 10px;
}

.btn-stake {
    background-color: #00AEEF;
    color: white;
    border: 0px;
}

.btn-getmore {
    border: 2px solid #00AEEF;
    background-color: rgb(50, 18, 228);
    color: #00AEEF;
}

.btn-unstake {
    background-color: rgb(233, 234, 235);
    color: rgb(19, 16, 213);
    border: 0px;
}

.logout-but {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(239, 244, 245);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    padding-left: 40px;
    padding-right: 8px;
    position: relative;
    z-index: 9999;
    display: none;
}

.wallet-icon {
    align-items: center;
    background-color: rgb(250, 249, 250);
    border-color: #00AEEF;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: -4px;
    width: 40px;
    z-index: 102;
}

.wall-icon {
    fill: #00AEEF;
}

.wall-dow {
    fill: rgb(40, 13, 95);
    ;
}

.wallet-add {
    display: block;
    margin-left: 8px;
    margin-right: 4px;
    color: rgb(40, 13, 95);
    font-weight: 600;
}

.log-wrap {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 227, 235);
    border-radius: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    pointer-events: auto;
    width: 280px;
    visibility: visible;
    z-index: 1001;
}

.wall-alert {
    align-self: center;
    fill: rgb(255, 55, 238);
    flex-shrink: 0;
}

.dropdown-toggle::after {
    display: none;
}

.log-button {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.top-menu {
    margin-left: 35px
}

.top-menu a {
    position: relative;
    color: rgb(122, 110, 170);
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    padding: 5px 0;
    text-decoration: none;
}

.top-menu a.active {
    color: rgb(118, 69, 217);
    font-weight: 600;
}

.top-menu a.active:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: #00AEEF;
    border-radius: 2px 2px 0px 0px;
}

.border {
    border: 1px solid rgb(231, 227, 235) !important;
    margin: 0 !important;
}

.dis-but {
    align-items: center;
    border: 0px;
    background: transparent;
    color: rgb(122, 110, 170);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: space-between;
    outline: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.dis-icon {
    align-self: center;
    fill: rgb(40, 13, 95);
    flex-shrink: 0;
}

.info-wrap,
.end-wrap {
    justify-content: space-between;
    align-items: center;
    display: none;
}

.info-wrap .total,
.info-wrap .total-val,
.end-wrap .end-in,
.end-wrap .end-val {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
}

.down-arrow.up-ar {
    transform: rotate(180deg);
}


/*Media Query*/

@media (max-width: 992px) {
    .cell-five {
        display: none;
    }
    .table-content {
        flex-wrap: wrap;
    }
    .view-wrap {
        flex-basis: 100%;
    }
    .container-wrap {
        margin-top: 15px;
    }
    .earning-val {
        margin-right: 15px;
    }
    .earning-val,
    .st-sta {
        margin-left: 0;
    }
    .end-wrap {
        display: flex;
    }
    .cell-six {
        flex-basis: 100px;
    }
    .cell-four {
        flex-basis: 85px;
    }
    .cell-three {
        flex-basis: 85px;
    }
}

.btn-wallet {
    height: 60px;
    background: #f3f4fa;
    box-sizing: border-box;
    border-radius: 12px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(40, 13, 95) !important;
    border: 1px solid rgb(215, 202, 236);
    cursor: pointer;
}

#connectWallet .modal-content {
    width: 450px;
}

@media (max-width: 768px) {
    .cell-four {
        display: none;
    }
    .logo-foot {
        display: none;
    }
    .cell-three {
        flex-basis: auto;
    }
    .container-wrap {
        flex-wrap: wrap;
    }
    .earning-val,
    .st-sta {
        flex-basis: 100%;
    }
    .earning-val {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .info-wrap {
        display: flex;
    }
}

@media (max-width: 576px) {
    .show-tog {
        display: none;
    }
    .cell-six {
        flex-shrink: 1;
        flex-basis: 0;
    }
    .cell-three {
        flex-basis: 0;
    }
    .logo-name {
        display: none;
    }
}

@media (max-width: 500px) {
    .foot-con {
        flex-wrap: wrap;
    }
    .about {
        margin-right: 50px;
        margin-bottom: 25px;
    }
    .help {
        margin-bottom: 25px;
    }
    .top-menu {
        margin-left: 0px;
    }
    .cell-one {
        flex-basis: 180px;
    }
    .cell-two {
        flex-basis: 85px;
    }
    .cell-three {
        flex-basis: 65px;
    }
}